h1{
    background-color: black;
    content: "cloud";
    color: aqua;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
.My{
    color: antiquewhite;
}
margin: 0px;
border: 0px;
}
h2{
  margin-top: 3px;
  margin-bottom: -15px;
    background-color: blueviolet;
text-align: center;

}

h3{
    background-color: skyblue;
    text-align: right;
text-decoration: underline;
}
