*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
font-weight: bold;    
}
img{
    height: 200px;
}
.contrainer{
    background-color:#e5fafa
}
.R1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: aqua;
}

.R2{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    background-color: pink;
}
.R3
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
}